<section class="todoapp">
    <header class="header">
      <div class="container">
        <h1>My Day</h1>
        <p>All my tasks in one place</p>
        <input
          class="new-todo"
          placeholder="Type new todo"
          autofocus
          type="text"
          [formControl]="newTaskControl"
          (keydown.enter)="changeHandler()"
        />
      </div>
    </header>
    <div class="container todoapp-wrapper">
      <!-- This section should be hidden by default and shown when there are todos -->

      <section class="main">
        <ul class="todo-list">
          <li (dblclick)="task.completed || activeEditingTask(i)" 
              *ngFor="let task of taskByFilter(); index as i" 
              [class.completed]="task.completed"
              [class.editing]="task.editing"
            >
            <div class="view">
              <input class="toggle" type="checkbox" [checked]="task.completed" (change)="updateTask(i)" />
              <label>{{ task.title }}</label>
              <button class="destroy" (click)="deleteTask(i)"></button>
            </div>
            <input 
              class="edit" 
              [value]="task.title" 
              [formControl]="editingTaskControl" 
              (keydown.enter)="editTask(i)"
              [class.edit--invalid]="editingTaskControl.invalid" 
            
              />
          </li>
          <!-- <li>
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Buy a unicorn</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Buy a unicorn" />
          </li>
          --
          <li class="editing">
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Make dishes</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Make dishes" />
          </li> -->
        </ul>
      </section>
      <!-- This footer should be hidden by default and shown when there are todos -->
      <footer class="footer" *ngIf="tasks().length > 0">
        <!-- This should be `0 items left` by default -->
        <span class="todo-count" [ngSwitch]="taskByFilter().length">
          <strong *ngSwitchCase="0">0 item left</strong>
          <strong *ngSwitchCase="1">1 item left</strong> 
          <strong *ngSwitchDefault>{{taskByFilter().length}} items left</strong>
        </span>
        <!-- Remove this if you don't implement routing -->

        <ul class="filters">
          <li>
            <a (click)="changeFilter('all')" [class.selected]="filter() === 'all'">All</a>
          </li>
          <li>
            <a (click)="changeFilter('pending')" [class.selected]="filter() === 'pending'">Pending</a>
          </li>
          <li>
            <a (click)="changeFilter('completed')" [class.selected]="filter() === 'completed'">Completed</a>
          </li>
        </ul>
        <!-- Hidden if no completed items are left ↓ -->
        <!-- <button class="clear-completed">Clear completed</button> -->

        <!-- <ul class="filters">
          <li>
            <a (click)="changeFilterTwo(filterValues.All)">All holas</a>
          </li>
          <li>
            <a (click)="changeFilterTwo(filterValues.Pending)">Pending</a>
          </li>
          <li>
            <a (click)="changeFilterTwo(filterValues.Completed)">Completed</a>
          </li>
        </ul> -->
      </footer>
    </div>
  </section>